#game {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
#game::after {
    content: '';
    display: block;
    clear: both;
}

#game .card-container {
    float: left;
    width: 17%;
    height: 17%;
    margin: 4%;
}

.card {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.card-1 {
    width: 68px;
    height: 68px;
    background-position: -5px -5px;
}

.card-2 {
    width: 68px;
    height: 68px;
    background-position: -115px -5px;
}

.card-3 {
    width: 68px;
    height: 68px;
    background-position: -225px -5px;
}

.card-4 {
    width: 68px;
    height: 68px;
    background-position: -335px -5px;
}

.card-5 {
    width: 68px;
    height: 68px;
    background-position: -5px -115px;
}

.card-6 {
    width: 68px;
    height: 68px;
    background-position: -115px -115px;
}

.card-7 {
    width: 68px;
    height: 68px;
    background-position: -225px -115px;
}

.card-8 {
    width: 68px;
    height: 68px;
    background-position: -335px -115px;
}

.card-9 {
    width: 68px;
    height: 68px;
    background-position: -5px -225px;
}

.card-10 {
    width: 68px;
    height: 68px;
    background-position: -115px -225px;
}

.card-11 {
    width: 68px;
    height: 68px;
    background-position: -225px -225px;
}

.card-12 {
    width: 68px;
    height: 68px;
    background-position: -335px -225px;
}

.card-13 {
    width: 68px;
    height: 68px;
    background-position: -5px -335px;
}

.card-14 {
    width: 68px;
    height: 68px;
    background-position: -115px -335px;
}

.card-15 {
    width: 68px;
    height: 68px;
    background-position: -225px -335px;
}

.card-16 {
    width: 68px;
    height: 68px;
    background-position: -335px -335px;
}

.card-17 {
    width: 68px;
    height: 68px;
    background-position: -445px -5px;
}

.card-18 {
    width: 68px;
    height: 68px;
    background-position: -445px -115px;
}

.card-19 {
    width: 68px;
    height: 68px;
    background-position: -445px -225px; 
}

.card-20 {
    width: 68px;
    height: 68px;
    background-position: -445px -335px;
}
